:root {
  --red: #ff6666;
  --light-gray: #f2f2f2;
  --deep-gray: #737373;
  --petal: #4d9900;
}

* {
  margin: 0;
  padding: 0;
}

/* overriding bootstrap css */
.navbar {
  padding: 0.5rem 1rem 0.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.nav-link {
  color: black;
  font-size: 1rem;
  font-weight: bold;
  padding-left: 2.2rem !important;
}

.nav-link:hover {
  color: var(--deep-gray);
}

.d-flex {
  gap: 10px;
}

/*banner css */
.petals {
  overflow: hidden;
  padding-top: 5rem;
  display: flex;
  gap: 1em;
}

.main-banner {
  width: 70%;
}

.main-banner img {
  width: 100%;
}

.side-container {
  display: flex;
  gap: 1em;
  flex-direction: column;
  width: 30%;
}

.side-container img {
  width: 100%;
  height: 100%;
}

/*feature css */
.feature {
  width: 100%;
  background-color: var(--red);
  color: white;
  text-align: center;
  margin: 30px auto;
  font-size: 30px;
  font-weight: bold;
}

/*flower card css */
.flowers-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.flowers-row {
  display: flex;
  gap: 10px;
}

.flower-card {
  background-color: var(--light-gray);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flower-card img {
  width: 100%;
  border: 1px solid transparent;
  border-radius: 50%;
}

.flower-card h3 {
  font-weight: bold;
}

/*footer css */
.footer {
  margin: 0;
  background-color: black;
}

.footer-content h3 {
  margin-top: 30px;
  color: var(--red);
}

.footer-content .span-content {
  color: white;
  font-size: 0.8em;
}

.petal-color {
  color: var(--petal);
}

/*mobile view */
@media only screen and (max-width: 576px) {
  /*bootstrap css overriding*/
  .navbar-collapse {
    background-color: var(--light-gray);
  }

  .navbar-brand {
    margin-left: 1em !important;
  }

  .navbar-items {
    margin: 0;
    padding: 0;
  }

  .nav-link:hover {
    background-color: var(--red);
    color: white;
  }

  .nav-link {
    font-weight: normal;
    margin: 10px 0 !important;
    font-size: 1.5rem;
    padding: 1rem 0 !important;
  }

  /*banner css */
  .petals {
    flex-direction: column;
  }

  .main-banner {
    width: 100%;
  }

  .side-container {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .side-container img {
    max-width: 48%;
  }

  /*flower card css*/
  .flowers-section {
    align-items: center;
  }

  .flowers-row {
    flex-direction: column;
  }
}
